.action {
  padding: 35px 0;
}

@media (min-width: $tablet-width) {
  .action {
    padding-top: 70px;
    padding-bottom: 75px;
  }
}

@media (min-width: $desktop-width) {
  .action {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.action__wrapper {
  position: relative;
  width: 280px;
  min-height: 290px;
  margin: 0 auto;
  padding: 0;
  background-color: $brand-color;
  background-image: url("../../images/catalog-background-mobile@1x.jpg");
  background-repeat: no-repeat;
}

@media (min-width: $tablet-width) {
  .action__wrapper {
    width: 708px;
    min-height: 200px;
    background-image: url("../../images/catalog-background-desktop@1x.jpg");
  }
}

@media (min-width: $desktop-width) {
  .action__wrapper {
    width: 245px;
    min-height: 288px;
    background-image: url("../../images/catalog-background-tablet@1x.jpg");
  }
}

.action__wrapper::before {
  content: "";
  position: absolute;
  display: block;
  background-image: url("../../images/icons/stack.svg#icon-gift");
  top: 34%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-repeat: no-repeat;
  width: 78px;
  height: 80px;
}

@media (min-width: $tablet-width) {
  .action__wrapper::before {
    top: 49%;
    left: 17%;
  }
}

@media (min-width: $desktop-width) {
  .action__wrapper::before {
    top: 34%;
    left: 50%;
  }
}

.action__description {
  width: 161px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: $second-color-text;
  margin: 0 auto;
  padding: 187px 0 0;
}

@media (min-width: $tablet-width) {
  .action__description {
    text-align: left;
    margin: 0 125px 0 auto;
    padding-top: 71px;
  }
}

@media (min-width: $desktop-width) {
  .action__description {
    text-align: center;
    margin: 0 auto;
    padding-top: 185px;
  }
}
