.additionally__wrapper {
  width: 280px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .additionally__wrapper {
    width: 708px;
  }
}

@media (min-width: $desktop-width) {
  .additionally__wrapper {
    width: 896px;
    padding-top: 57px;
  }
}

.additionally__title {
  font-family: $content-font;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: $standard-color-text;
  margin: 0;
  padding: 25px 0 36px;
}

.additionally__list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.additionally__item {
  padding-bottom: 18px;
  border-top: 1px solid $border-color-second;
}

@media (min-width: $tablet-width) {
  .additionally__item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 708px;
    margin: 0 auto;
    padding-bottom: 28px;
    border-left: 1px solid $border-color-second;
    border-right: 1px solid $border-color-second;
  }
}

@media (min-width: $desktop-width) {
  .additionally__item {
    width: 896px;
    margin: 0 auto;
    padding-bottom: 0;
    border-left: none;
    border-right: none;
  }
}

.additionally__item:last-child {
  border-bottom: 1px solid $border-color-second;
}

.additionally__item-title {
  font-family: $content-font;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: $product-color-text;
  text-transform: uppercase;
  margin: 0;
  padding: 13px 0;
}

@media (min-width: $tablet-width) {
  .additionally__item-title {
    font-size: 20px;
    line-height: 20px;
    margin-left: 38px;
    padding: 25px 0;
  }
}

@media (min-width: $desktop-width) {
  .additionally__item-title {
    width: 200px;
    margin: 0;
    margin-right: 70px;
    padding: 25px 0 26px;
  }
}

.additionally__item-desc {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: $tablet-width) {
  .additionally__item-desc {
    justify-content: flex-end;
    margin-top: 5px;
    margin-right: 42px;
  }
}

@media (min-width: $desktop-width) {
  .additionally__item-desc {
    justify-content: space-between;
    width: 315px;
    margin-right: 0;
    margin-top: 5px;
  }
}

.additionally__item-description,
.additionally__item-price {
  line-height: 14px;
  margin: 0;
  padding-bottom: 15px;
}

.additionally__item-price {
  width: 70px;
  padding-left: 20px;
  text-align: right;
}

@media (min-width: $tablet-width) {
  .additionally__item-description,
  .additionally__item-price {
    font-size: 16px;
    line-height: 20px;
    padding-left: 21px;
    padding-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .additionally__item-description,
  .additionally__item-price {
    font-size: 16px;
    line-height: 20px;
    padding-right: 8px;
    padding-bottom: 0;
  }
}

.additionally__button {
  display: block;
  width: 280px;
  padding: 10px;
  box-sizing: border-box;
}

@media (min-width: $tablet-width) {
  .additionally__button {
    width: 632px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .additionally__button {
    width: 244px;
    margin: 0;
  }
}
