.advantages {
  width: 280px;
  margin: 0 auto;
  padding: 0 20px 49px;
}

@media (min-width: $tablet-width) {
  .advantages {
    width: 708px;
    padding-top: 25px;
    padding-bottom: 47px;
  }
}

@media (min-width: $desktop-width) {
  .advantages {
    width: 1220px;
  }
}

.advantages__title {
  font-family: $content-font;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: $standard-color-text;
  margin: 0;
  padding: 0 0 40px;
}

@media (min-width: $tablet-width) {
  .advantages__title {
    font-size: 60px;
    line-height: 60px;
    padding-bottom: 32px;
  }
}

.advantages__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .advantages__list {
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 37px 135px;
  }
}

@media (min-width: $desktop-width) {
  .advantages__list {
    gap: 94px;
  }
}

.advantages__item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  margin: 0 0 0 0;
}

@media (min-width: $tablet-width) {
  .advantages__item {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 250px;
    height: 280px;
    gap: 56px;
  }
}

@media (min-width: $desktop-width) {
  .advantages__item {
    width: 230px;
  }
}

.advantages__item-icon {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
}

@media (min-width: $tablet-width) {
  .advantages__item-icon {
    width: 80px;
  }
}

.advantages__item-icon--background::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -2;
  width: 60px;
  height: 60px;
  background-color: $brand-color;
}

@media (min-width: $tablet-width) {
  .advantages__item-icon--background::after {
    width: 80px;
    height: 80px;
  }
}

.advantages__item-background {
  display: none;
}

@media (min-width: $tablet-width) {
  .advantages__item-background {
    display: block;
    position: absolute;
    left: 47%;
    bottom: 44%;
    z-index: -1;
    font-family: $content-font;
    font-size: 280px;
    line-height: 40px;
    font-weight: 400;
    color: $background-color-basic;
  }
}

.advantages__item-description {
  width: 200px;
}

@media (min-width: $tablet-width) {
  .advantages__item-description {
    width: 230px;
    font-size: 16px;
    line-height: 24px;
  }
}
