.button {
  font-family: $content-font;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: $second-color-text;
  text-align: center;
  text-transform: uppercase;
  background-color: $brand-color;
  text-decoration: none;
  border: none;
}

.button:hover {
  background-color: $background-color-button-hover;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
}
