.button {
  font-family: $content-font;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: $second-color-text;
  text-align: center;
  text-transform: uppercase;
  background-color: $brand-color;
  text-decoration: none;
  border: none;
}

.button__card {
  grid-column: -1/1;
  padding: 10px;
}

@media (min-width: $tablet-width) {
  .button__card {
    width: 250px;
    margin: 0 auto;
  }
}

.button__card-all {
  width: 280px;
  padding: 10px;
  color: $base-color-text;
  background-color: $background-color-basic;
}

@media (min-width: $tablet-width) {
  .button__card-all {
    width: 250px;
    margin: 0 auto;
  }
}

.button__additionally {
  width: 280px;
  padding: 10px;
}

@media (min-width: $tablet-width) {
  .button__additionally {
    width: 632px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .button__additionally {
    width: 244px;
    margin: 0;
  }
}

.button__hero {
  width: 260px;
  padding: 10px;
  margin-bottom: 20px;
}
