.button {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: $second-color-text;
  text-align: center;
  text-transform: uppercase;
  background-color: $brand-color;
  text-decoration: none;
  border: none;
}
