.card-description {
  width: 140px;
  padding-top: 14px;
}

@media (min-width: $tablet-width) {
  .card-description {
    width: 250px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .card-description {
    width: 169px;
    margin: 0 auto;
    padding-top: 18px;
  }
}


.card-description__item {
  font-size: 12px;
  line-height: 14px;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .card-description__item {
    font-size: 16px;
    line-height: 20px;
    border-bottom: 1px solid $border-color-second;
    padding: 5px 0;
  }
}

.card-description__item:nth-child(even) {
  text-align: right;
}
