.catalog-title {
  font-family: $content-font;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: $standard-color-text;
  width: 300px;
  margin: 0 auto;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  padding: 27px 0 41px 20px;
}

@media (min-width: $tablet-width) {
  .catalog-title {
    font-size: 60px;
    line-height: 60px;
    width: 708px;
    padding: 40px 0 84px;
    border: none;
  }
}

@media (min-width: $desktop-width) {
  .catalog-title {
    width: 1220px;
    padding-top: 44px;
  }
}
