.contacts__position--inner {
  background-color: $background-color-basic;
}

@media (min-width: $desktop-width) {
  .contacts__position {
    position: relative;
    width: $desktop-width;
    margin: 0 auto;
  }
}

.contacts__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 280px;
  margin: 0 auto;
  padding: 26px 20px;
}

@media (min-width: $tablet-width) {
  .contacts__wrapper {
    width: 628px;
    margin: 0 auto;
    padding: 60px 70px;
  }
}

@media (min-width: $desktop-width) {
  .contacts__wrapper {
    position: absolute;
    top: 95px;
    left: 110px;
    width: 407px;
    background-color: $second-color-text;
    margin: 0;
    padding: 60px 78px 60px 80px;
  }
}

.contacts__title {
  font-family: $content-font;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: $color-text-title;
  text-transform: uppercase;
  width: 125px;
  margin: 0;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .contacts__title {
    font-size: 20px;
    line-height: 26px;
    width: 163px;
  }
}

.contacts__information {
  font-size: 14px;
  line-height: 20px;
  width: 140px;
  margin: 0;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .contacts__information {
    font-size: 16px;
    line-height: 20px;
    width: 157px;
    text-align: right;
  }
}

@media (min-width: $tablet-width) {
  .contacts__information span {
    display: block;
    padding-top: 20px;
  }
}

@media (min-width: $desktop-width) {
  .contacts__information {
    text-align: left;
  }
}

.contacts__wrapper-map {
  display: block;
  background-image: image-set(url("../../images/location-mobile@1x.jpg") 1x, url("../../images/location-mobile@2x.jpg") 2x);
  background-position: top center;
  background-repeat: no-repeat;
}

@media (min-width: $tablet-width) {
  .contacts__wrapper-map {
    background-image: image-set(url("../../images/location-tablet@1x.jpg") 1x, url("../../images/location-tablet@2x.jpg") 2x);
  }
}

@media (min-width: $desktop-width) {
  .contacts__wrapper-map {
    background-image: image-set(url("../../images/location-desktop@1x.jpg") 1x, url("../../images/location-desktop@2x.jpg") 2x);
  }
}

.contacts__wrapper-map iframe {
  display: block;
  border: none;
  width: 100%;
  height: 362px;
}

@media (min-width: $tablet-width) {
  .contacts__wrapper-map iframe {
    width: 100%;
    height: 400px;
  }
}

@media (min-width: $desktop-width) {
  .contacts__wrapper-map iframe {
    width: 100%;
  }
}
