.contacts {

}

.contacts__title {
  font-family: $content-font;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;
}

.contacts__information {
  line-height: 20px;
}
