.example {
  background-color: $background-color-block;
}

@media (min-width: $tablet-width) {
  .example {
    border-top: 1px solid $border-color-bottom;
    background: linear-gradient(0deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 43%, rgba(255, 255, 255, 1) 43%);
  }
}

@media (min-width: $desktop-width) {
  .example {
    border-top: none;
    background: linear-gradient(0deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 74%, rgba(255, 255, 255, 1) 74%);
  }
}

.example__wrapper {
  width: 280px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .example__wrapper {
    position: relative;
    width: 708px;
  }
}

@media (min-width: $desktop-width) {
  .example__wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 1220px;
  }
}

.example__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: $standard-color-text;
  margin: 0;
  padding: 25px 0 0;
}

@media (min-width: $tablet-width) {
  .example__title {
    font-size: 60px;
    line-height: 60px;
    padding-top: 45px;
  }
}

@media (min-width: $desktop-width) {
  .example__title {
    padding-top: 23px;
    padding-bottom: 76px;
  }
}

.example__description {
  margin: 0;
  padding: 40px 0 20px;
}

@media (min-width: $tablet-width) {
  .example__description {
    font-size: 16px;
    line-height: 24px;
    padding-top: 60px;
    padding-bottom: 55px;
  }
}

@media (min-width: $desktop-width) {
  .example__description {
    width: 436px;
    padding-top: 70px;
    padding-bottom: 69px;
  }
}

@media (min-width: $tablet-width) {
  .example__list-box {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .example__list-box {
    flex-direction: column;
  }
}

.example__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .example__list {
    justify-content: flex-start;
    gap: 43px;
    padding-bottom: 104px;
  }
}


@media (min-width: $desktop-width) {
  .example__list {
    padding-bottom: 56px;
  }
}

.example__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 124px;
  border: 1px solid $border-color-second;
  border-radius: 3px;
  padding: 14px 0 17px;
}

@media (min-width: $tablet-width) {
  .example__item {
    width: 160px;
    padding-top: 15px;
    padding-bottom: 18px;
  }
}

.example__number {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: $standard-color-text;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .example__number {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__text {
  position: absolute;
  top: 46px;
  width: 77px;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  text-align: center;
  margin: 0;
  padding: 0 5px;
  background-color: $background-color-block;
}

@media (min-width: $tablet-width) {
  .example__text {
    top: 62px;
    width: 96px;
    font-size: 14px;
    line-height: 14px;
    background-color: $second-color-text;
    padding-left: 9px;
    padding-right: 9px;
  }
}

@media (min-width: $tablet-width) {
  .example__item:nth-child(2) .example__text {
    width: 125px;
  }
}

@media (min-width: $desktop-width) {
  .example__text {
    background-color: $background-color-basic;
  }
}

.example__description-footer {
  font-family: $content-font;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: $standard-color-text;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 34px 10px 20px;
}

@media (min-width: $tablet-width) {
  .example__description-footer {
    width: 175px;
    font-size: 20px;
    line-height: 29px;
    text-align: right;
    padding: 7px 0 0;
  }
}

@media (min-width: $desktop-width) {
  .example__description-footer {
    width: 436px;
    text-align: left;
    padding: 0 0 69px;
  }
}

@media (min-width: $desktop-width) {
  .example__description-footer span:last-child {
    padding-left: 63px;
  }
}
