.example {
  background-color: $background-color-block;
}

.example__wrapper {
  width: 280px;
  margin: 0 auto;
}

.example__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: $standard-color-text;
}

.example__number {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: $standard-color-text;
  text-transform: uppercase;
}

.example__text {
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
}

.example__description-footer {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: $standard-color-text;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .example__wrapper {
    width: 708px;
  }
}

@media (min-width: $desktop-width) {
  .example__wrapper {
    width: 1220px;
  }
}
