.hero {
  position: relative;
  background-color: rgba(104, 183, 56, 0.85);
  background-blend-mode: overlay;
  height: 306px;
  margin-bottom: 198px;

}

.hero::after {
  content: "";
  position: absolute;
  background-image: url("../../images/index-background-mobile@2x.jpg");
  background-size: cover;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  height: 305px;
  z-index: -2;
}

.hero::before {
  content: "";
  position: absolute;
  background-image: linear-gradient(48deg, #4D4F53 0%, #3F3F41 100%);;
  background-size: cover;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 305px;
  z-index: -3;
}

@media (min-width: $tablet-width) {
  .hero {
    background-color: #ffffff;
    height: 835px;
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .hero {
    position: static;
    height: 694px;
    margin-bottom: -82px;
  }
}

.hero__wrapper {
  display: flex;
  flex-direction: column;
  width: 280px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .hero__wrapper {
    width: 709px;
  }
}

@media (min-width: $desktop-width) {
  .hero__wrapper {
    position: relative;
    flex-direction: row;
    width: 1060px;
  }
}

.hero__title {
  font-family: $content-font;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: $second-color-text;
  text-align: center;
  padding: 27px 0 0;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .hero__title {
    color: $standard-color-text;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    width: 420px;
    padding-top: 25px;
    padding-left: 90px;
  }
}

@media (min-width: $desktop-width) {
  .hero__title {
    padding-top: 80px;
    padding-left: 0;
  }
}

.hero__description {
  font-family: $content-font;
  line-height: 14px;
  color: $second-color-text;
  text-align: center;
  text-transform: uppercase;
  padding: 25px 0 30px;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .hero__description {
    padding-left: 90px;
    color: $standard-color-text;
    text-align: left;
    font-size: 20px;
    line-height: 20px;
    padding-top: 40px;
    padding-bottom: 21px;
  }
}

@media (min-width: $desktop-width) {
  .hero__description {
    padding-left: 0;
  }
}

@media (min-width: $tablet-width) {
  .hero__image {
    position: relative;
    z-index: 2;
  }
}

@media (min-width: $desktop-width) {
  .hero__image {
    left: -52px;
  }
}

@media (min-width: $tablet-width) {
  .hero__button {
    position: absolute;
    font-size: 20px;
    line-height: 26px;
    width: 224px;
    top: 255px;
    margin-left: 90px;
    margin-bottom: 0;
    z-index: 3;
    padding-top: 14px;
    padding-bottom: 14px;
  }
}

@media (min-width: $desktop-width) {
  .hero__button {
    top: 310px;
    margin-left: 0;
  }
}
