.main-nav {

}

.main-nav__list {
  text-align: center;
  list-style-type: none;
}

.main-nav__link {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  color: $base-color-text;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}
