.main-footer {
  background-color: $background-color-basic;
}

.main-footer__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 280px;
  margin: 0 auto;
  padding: 40px 0;
}

@media (min-width: $tablet-width) {
  .main-footer__wrapper {
    width: 708px;
    flex-direction: row;
    justify-content: space-between;
    padding: 44px 0;
  }
}

@media (min-width: $desktop-width) {
  .main-footer__wrapper {
    width: 1220px;
    padding: 54px 0;
  }
}

.main-footer__wrapper::after {
  content: "";
  position: absolute;
  top: 84px;
  left: 0;
  width: 280px;
  height: 1px;
  background-color: $background-color-line;
}

@media (min-width: $tablet-width) {
  .main-footer__wrapper::after {
    display: none;
  }
}

.main-footer__wrapper::before {
  content: "";
  position: absolute;
  bottom: 94px;
  left: 0;
  width: 280px;
  height: 1px;
  background-color: $background-color-line;
}

@media (min-width: $tablet-width) {
  .main-footer__wrapper::before {
    display: none;
  }
}

.main-footer__logo-text {
  padding-bottom: 15px;
}

.main-footer__logo-text:hover {
  opacity: 0.8;
}

.main-footer__logo-text:active {
  opacity: 0.6;
}

@media (min-width: $tablet-width) {
  .main-footer__logo-text {
    padding-bottom: 0;
    padding-top: 3px;
  }
}

@media (min-width: $desktop-width) {
  .main-footer__logo-text {
    padding-top: 6px;
  }
}

.main-footer__social {
  max-width: 132px;
  margin: 0 auto;
  padding: 20px 0;
}

@media (min-width: $tablet-width) {
  .main-footer__social {
    margin: 0 0 0 35px;
  }
}

.main-footer__social-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
  max-width: 132px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.main-footer__social-item {
  width: 28px;
  height: 22px;
}

.main-footer__social-link {
  position: relative;
}

.main-footer__social-link--vkontakte {
  content: "";
  position: absolute;
  display: block;
  background-color: $icon_color;
  mask-image: url("../../images/icons/stack.svg#vkontakte");
  mask-repeat: no-repeat;
  width: 28px;
  height: 22px;
}

.main-footer__social-link--youtube {
  content: "";
  position: absolute;
  display: block;
  background-color: $icon_color;
  mask-image: url("../../images/icons/stack.svg#youtube");
  mask-repeat: no-repeat;
  width: 28px;
  height: 22px;
}

.main-footer__social-link--telegram {
  content: "";
  position: absolute;
  display: block;
  background-color: $icon_color;
  mask-image: url("../../images/icons/stack.svg#telegram");
  mask-repeat: no-repeat;
  width: 28px;
  height: 22px;
}

.main-footer__social-link--vkontakte:hover,
.main-footer__social-link--youtube:hover,
.main-footer__social-link--telegram:hover {
  background-color: $brand-color;
}

.main-footer__social-link--vkontakte:active,
.main-footer__social-link--youtube:active,
.main-footer__social-link--telegram:active {
  background-color: $brand-color;
  opacity: 0.3;
}

.main-footer__copyright-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 280px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: $base-color-text;
  text-decoration: none;
  padding-top: 20px;
}

@media (min-width: $tablet-width) {
  .main-footer__copyright-link {
    width: 162px;
    padding-top: 0;
  }
}

.main-footer__copyright-link:hover svg {
  color: $brand-color;
}

.main-footer__copyright-link:active {
  opacity: 0.3;
}

.main-footer__copyright-link-logo {
  color: $icon_color;
}
