.main-header {
  background-color: #ffffff;
  width: 100%;
}

@media (min-width: $desktop-width) {
  .main-header--index::before {
    content: "";
    position: absolute;
    left: 50%;
    width: 50%;
    height: 694px;
    background-color: $background-color-index;
    background-image: url("../../images/index-background-desktop-cat@1x.jpg");
    background-repeat: no-repeat;
    background-position: left;
  }
}

.main-header__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  max-width: 320px;
  margin: 13px auto 0;
}

@media (min-width: $tablet-width) {
  .main-header__wrapper {
    justify-content: unset;
    flex-direction: row;
    align-items: center;
    gap: 93px;
    max-width: 708px;
    padding: 25px 0;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .main-header__wrapper {
    max-width: 1220px;
    padding: 55px 0 30px;
    display: flex;
    justify-content: space-between;
  }
}

.main-header__logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 190px;
  padding: 0;
  margin-left: 20px;
}

@media (min-width: $tablet-width) {
  .main-header__logo {
    margin-left: 0;
  }
}

.main-header__logo:hover {
  opacity: 0.8;
}

.main-header__logo:active {
  opacity: 0.6;
}

@media (min-width: $tablet-width) {
  .main-header__logo {
    width: 174px;
    padding-bottom: 0;
    gap: 13px;
  }
}

@media (min-width: $desktop-width) {
  .main-header__logo {
    width: 202px;
    gap: 14px;
  }
}
