.more-card {
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
  width: 320px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .more-card {
    grid-template-rows: 110px 98px 1fr 40px;
    padding-bottom: 40px;
    width: 324px;
    height: 430px;
    border: 1px solid $background-color-basic;
    box-sizing: border-box;
  }
}

@media (min-width: $desktop-width) {
  .more-card {
    grid-template-rows: 110px 88px 1fr 40px;
    width: 245px;
    height: 430px;
  }
}

.more-card_pluse {
  margin: 0 auto;
  box-sizing: border-box;
  padding: 25px 0 0;
}

@media (min-width: $tablet-width) {
  .more-card_pluse {
    padding-top: 50px;
  }
}

.more-card__title {
  font-family: $content-font;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: $color-text-title;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding: 0;
  padding-top: 17px;
}

@media (min-width: $tablet-width) {
  .more-card__title {
    width: 134px;
    font-size: 20px;
    line-height: 24px;
    margin: 0 auto;
    padding-top: 0;
    align-self: end;
  }
}

.more-card__description {
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  margin: 0;
  padding: 10px 0 21px;
}

@media (min-width: $tablet-width) {
  .more-card__description {
    align-self: start;
    font-size: 16px;
    line-height: 18px;
    width: 170px;
    margin: 0 auto;
    padding: 23px 0 0;
  }
}

.more-card__button {
  display: block;
  width: 280px;
  padding: 10px;
  color: $base-color-text;
  background-color: $background-color-basic;
  box-sizing: border-box;
  font-family: $content-font;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
}

@media (min-width: $tablet-width) {
  .more-card__button {
    width: 250px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .more-card__button {
    width: 169px;
  }
}

.more-card__button:hover,
.more-card__button:active {
  background-color: $background-color-button;
}
