.more-card {
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
  width: 320px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .more-card {
    grid-template-rows: 110px 98px 1fr 40px;
    padding-bottom: 40px;
    width: 324px;
    height: 440px;
    border: 1px solid #f2f2f2;
    box-sizing: border-box;
  }
}

@media (min-width: $desktop-width) {
  .more-card {
    width: 245px;
    height: 436px;
  }
}

.more-card_pluse {
  margin: 0 auto;
  box-sizing: border-box;
  padding: 25px 0 0;
}

@media (min-width: $tablet-width) {
  .more-card_pluse {
    padding-top: 50px;
  }
}

.more-card__title {
  font-family: $content-font;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding: 0;
  padding-top: 23px;
}

@media (min-width: $tablet-width) {
  .more-card__title {
    width: 134px;
    font-size: 20px;
    line-height: 24px;
    margin: 0 auto;
    padding-top: 0;
    align-self: end;

  }
}

.more-card__description {
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  margin: 0;
  padding: 8px 0 21px;
}

@media (min-width: $tablet-width) {
  .more-card__description {
    align-self: start;
    font-size: 16px;
    line-height: 18px;
    width: 170px;
    margin: 0 auto;
    padding: 23px 0 0;
  }
}
