.product {
  margin: 0 auto;
}

.product__wrapper {
  width: 320px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .product__wrapper {
    width: 708px;
  }
}

@media (min-width: $desktop-width) {
  .product__wrapper {
    width: 1220px;
  }
}

.product__list {
  list-style-type: none;
  display: grid;
  grid-template-columns: 320px;
  justify-content: center;
  justify-items: center;
  padding: 0;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .product__list {
    grid-template-columns: 324px 324px;
    gap: 60px;
  }
}

@media (min-width: $desktop-width) {
  .product__list {
    grid-template-columns: 245px 245px 245px 245px;
    gap: 63px 80px;
  }
}

.product__card {
  display: grid;
  grid-template-rows: 107px 1fr;
  grid-template-columns: 140px 140px;
  justify-content: center;
  gap: 17px 0;
  width: 320px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ebebeb;
}

@media (min-width: $tablet-width) {
  .product__card {
    grid-template-rows: 220px 1fr 40px;
    grid-template-columns: 324px;
    padding-top: 0;
    padding-bottom: 40px;
    border-bottom: none;
    background-image: linear-gradient(#ffffff 73px, #f2f2f2 73px);
  }
}

@media (min-width: $desktop-width) {
  .product__card {
    grid-template-columns: 245px;
    gap: 10px 0;
    width: 245px;
  }
}

.product__card-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.product__card-image {
  display: block;
  margin: 0;
  padding: 0;
}

.product__card-desc {
  position: relative;
}

@media (min-width: $tablet-width) {
  .product__card-desc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding-bottom: 15px;
  }
}

@media (min-width: $desktop-width) {
  .product__card-desc {
    padding-bottom: 22px;
  }
}

.product__card-title-link {
  text-decoration: none;
}

.product__card-title {
  font-family: $content-font;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: $product-color-text;
  text-transform: uppercase;
  width: 80px;
  margin: 0;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .product__card-title {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    width: 135px;
    margin: 0 auto;
  }
}

.product__card-more {
  border-bottom: 1px solid #ebebeb;
  margin: 0;
  padding: 0;
  padding-bottom: 25px;
}

@media (min-width: $tablet-width) {
  .product__card-more {
    display: grid;
    grid-template-columns: 324px;
    align-items: end;
    padding-bottom: 0;
    border-bottom: none;
  }
}

@media (min-width: $desktop-width) {
  .product__card-more {
    grid-template-columns: 245px;
  }
}
