.questionnaire {
  overflow: hidden;
}

.questionnaire__wrapper {
  width: 320px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .questionnaire__wrapper {
    width: 768px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .questionnaire__wrapper {
    width: 1440px;
    margin: 0 auto;
  }
}

.questionnaire__title {
  font-family: $content-font;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: $standard-color-text;
  margin: 0 auto;
  padding: 27px 20px 0;
}

@media (min-width: $tablet-width) {
  .questionnaire__title {
    font-size: 60px;
    line-height: 60px;
    padding-top: 37px;
    padding-left: 70px;
    padding-right: 70px;
  }
}

@media (min-width: $desktop-width) {
  .questionnaire__title {
    padding-top: 40px;
    padding-left: 110px;
    padding-right: 110px;
  }
}

.questionnaire__description {
  font-family: $content-font;
  color: $standard-color-text;
  text-transform: uppercase;
  margin: 0 auto;
  padding: 37px 20px 16px;
}

@media (min-width: $tablet-width) {
  .questionnaire__description {
    font-size: 20px;
    line-height: 30px;
    padding: 54px 70px 66px;
  }
}

@media (min-width: $desktop-width) {
  .questionnaire__description {
    padding-top: 55px;
    padding-left: 110px;
    padding-right: 110px;
  }
}

.questionnaire__box {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

@media (min-width: $tablet-width) {
  .questionnaire__box {
    width: 708px;
  }
}

@media (min-width: $desktop-width) {
  .questionnaire__box {
    flex-direction: row;
    justify-content: space-between;
    width: 1220px;
  }
}

.questionnaire__field {
  border: none;
  padding: 0;
  margin: 0;
}

.questionnaire__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin: 0;
  padding: 20px;
  border: none;
  list-style-type: none;
}

@media (min-width: $tablet-width) {
  .questionnaire__field-data .questionnaire__list {
    gap: 20px;
    width: 628px;
    padding-top: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 72px;
  }
}

@media (min-width: $desktop-width) {
  .questionnaire__field-data .questionnaire__list {
    width: 570px;
    padding: 0;
  }
}

.questionnaire__item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 280px;
  margin: 0;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .questionnaire__field-data .questionnaire__item {
    width: 628px;
  }
}

@media (min-width: $desktop-width) {
  .questionnaire__field-data .questionnaire__item {
    width: 570px;
  }
}

.questionnaire__label,
.questionnaire__input {
  font-family: $content-font;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .questionnaire__label,
  .questionnaire__input {
    font-size: 20px;
    line-height: 22px;
  }
}

.questionnaire__field-data .questionnaire__label {
  display: block;
  padding-right: 13px;
}

.questionnaire__field-data .questionnaire__input {
  flex-grow: 1;
  min-width: 50px;
  min-height: 45px;
  margin: 0;
  padding: 14px 15px 13px;
  border: 1px solid $border-color;
  box-sizing: border-box;
  appearance: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .questionnaire__field-data .questionnaire__input {
    padding: 14px 20px;
  }
}

.questionnaire__field-data .questionnaire__input:hover,
.questionnaire__field-contact .questionnaire__input:hover,
.questionnaire__field-comment textarea:hover {
  border: 1px solid $border-color-second;
  appearance: none;
}

.questionnaire__field-data .questionnaire__input:focus,
.questionnaire__field-contact .questionnaire__input:focus,
.questionnaire__field-comment textarea:focus {
  border: 1px solid $base-color-text;
  appearance: none;
  outline: none;
}

.questionnaire__field-data .questionnaire__input-error,
.questionnaire__field-contact .questionnaire__input-error {
  border: 1px solid $color-error;
}

// radio
.questionnaire__field-control {
  border-top: 1px solid $background-color-line;
  border-bottom: 1px solid $background-color-line;
}

@media (min-width: $tablet-width) {
  .questionnaire__field-control {
    padding: 0 40px;
    border: none;
  }
}

@media (min-width: $desktop-width) {
  .questionnaire__field-control {
    width: 570px;
    padding: 0;
  }
}

@media (min-width: $tablet-width) {
  .questionnaire__field-control .questionnaire__list {
    padding: 23px 27px 27px;
    border: 1px solid $border-color;
  }
}

@media (min-width: $tablet-width) {
  .questionnaire__field-control .questionnaire__item {
    width: 300px;
  }
}

.questionnaire__field-control .questionnaire__label {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 45px;
}

@media (min-width: $tablet-width) {
  .questionnaire__field-control .questionnaire__label {
    padding-left: 60px;
  }
}

.questionnaire__field-control .questionnaire__input {
  margin: 0;
}

.questionnaire__control-mark {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  background-color: $second-color-text;
  border: 1px solid $border-color-second;
  border-radius: 50%;
}

@media (min-width: $tablet-width) {
  .questionnaire__control-mark {
    width: 40px;
    height: 40px;
  }
}

.questionnaire__field-control .questionnaire__label:hover .questionnaire__control-mark,
.questionnaire__field-additionally .questionnaire__label:hover .questionnaire__control-checkbox {
  border: 1px solid $border-color-checkbox;
}

.questionnaire__input:disabled + .questionnaire__control-mark,
.questionnaire__input:disabled + .questionnaire__control-checkbox {
  opacity: 0.3;
  outline: none;
}

.questionnaire__input:disabled ~ .questionnaire__control-label,
.questionnaire__input:disabled ~ .questionnaire__checkbox-label {
  opacity: 0.3;
}

.questionnaire__control-label {
  padding: 6px 0;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .questionnaire__control-label {
    padding: 8px 0 9px;
  }
}

.questionnaire__field-control .questionnaire__input[type="radio"]:checked + .questionnaire__control-mark::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 13px;
  height: 13px;
  background-color: $brand-color;
  border-radius: 50%;
}

@media (min-width: $tablet-width) {
  .questionnaire__field-control .questionnaire__input[type="radio"]:checked + .questionnaire__control-mark::before {
    width: 18px;
    height: 18px;
  }
}

//contact
@media (min-width: $tablet-width) {
  .questionnaire__field-contact {
    width: 628px;
    margin: 0 auto;
  }
}

.questionnaire__field-contact .questionnaire__list {
  padding-top: 0;
  padding-bottom: 0;
}

@media (min-width: $tablet-width) {
  .questionnaire__field-contact .questionnaire__list {
    gap: 20px;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .questionnaire__field-contact .questionnaire__list {
    flex-direction: row;
    justify-content: space-between;
    width: 1220px;
  }
}

.questionnaire__field-contact .questionnaire__item {
  position: relative;
}

@media (min-width: $tablet-width) {
  .questionnaire__field-contact .questionnaire__item {
    width: 628px;
  }
}

@media (min-width: $desktop-width) {
  .questionnaire__field-contact .questionnaire__item {
    width: 570px;
  }
}

.questionnaire__field-contact .questionnaire__label {
  display: block;
  padding-right: 13px;
}

.questionnaire__field-contact .questionnaire__input {
  flex-grow: 1;
  min-width: 50px;
  min-height: 45px;
  margin: 0;
  padding: 14px 32px 13px 15px;
  box-sizing: border-box;
  border: 1px solid $border-color;
}

@media (min-width: $tablet-width) {
  .questionnaire__field-contact .questionnaire__input {
    padding: 17px 34px 11px 20px;
  }
}

.questionnaire__icon-email {
  content: "";
  position: absolute;
  display: block;
  right: 13px;
  background-color: $standard-color-text;
  mask-image: url("../../images/icons/stack.svg#icon-email");
  mask-repeat: no-repeat;
  width: 20px;
  height: 20px;
}

.questionnaire__icon-phone {
  content: "";
  position: absolute;
  display: block;
  right: 13px;
  background-color: $standard-color-text;
  mask-image: url("../../images/icons/stack.svg#icon-phone");
  mask-repeat: no-repeat;
  width: 20px;
  height: 20px;
}

.questionnaire__field-contact .questionnaire__input:focus .questionnaire__icon-phone {
  background-color: $brand-color;
}

//comment

@media (min-width: $tablet-width) {
  .questionnaire__field-comment {
    width: 708px;
    margin: 0 auto;
    padding: 0;
    padding-top: 11px;
  }
}

@media (min-width: $desktop-width) {
  .questionnaire__field-comment {
    width: 1220px;
    padding-top: 5px;
  }
}

.questionnaire__field-comment .questionnaire__list {
  padding-top: 0;
  padding-bottom: 0;
}

@media (min-width: $tablet-width) {
  .questionnaire__field-comment .questionnaire__list {
    padding: 0;
  }
}

@media (min-width: $tablet-width) {
  .questionnaire__field-comment .questionnaire__item {
    width: 628px;
    margin: 0 auto;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .questionnaire__field-comment .questionnaire__item {
    width: 1220px;
  }
}

.questionnaire__field-comment textarea {
  font-family: $content-font;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: $standard-color-text;
  text-transform: uppercase;
  margin: 0;
  padding: 14px;
  resize: none;
  width: 280px;
  min-height: 120px;
  border-color: $border-color;
}

@media (min-width: $tablet-width) {
  .questionnaire__field-comment textarea {
    width: 628px;
    font-size: 20px;
    line-height: 30px;
    padding: 14px 20px;
    min-height: 178px;
    box-sizing: border-box;
  }
}

@media (min-width: $desktop-width) {
  .questionnaire__field-comment textarea {
    width: 1220px;
    padding-top: 10px;
  }
}

// additionally
@media (min-width: $tablet-width) {
  .questionnaire__field-additionally {
    width: 628px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .questionnaire__field-additionally {
    width: 1220px;
  }
}

@media (min-width: $desktop-width) {
  .questionnaire__field-additionally .questionnaire__item {
    width: 245px;
  }
}

.questionnaire__field-additionally .questionnaire__label {
  position: relative;
  padding-left: 45px;
}

@media (min-width: $tablet-width) {
  .questionnaire__field-additionally .questionnaire__label {
    padding-left: 60px;
  }
}

.questionnaire__field-additionally .questionnaire__list {
  gap: 13px;
  padding-top: 0;
  padding-bottom: 0;
}

@media (min-width: $tablet-width) {
  .questionnaire__field-additionally .questionnaire__list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px 64px;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .questionnaire__field-additionally .questionnaire__list {
    gap: 32px 80px;
  }
}

.questionnaire__control-checkbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  background-color: $second-color-text;
  border: 1px solid $border-color-second;
  box-sizing: border-box;
}

@media (min-width: $tablet-width) {
  .questionnaire__control-checkbox {
    width: 40px;
    height: 40px;
  }
}

.questionnaire__input[type="checkbox"]:checked + .questionnaire__control-checkbox {
  background-image: url(../../images/icons/checkbox.svg);
  background-repeat: no-repeat;
  background-size: 18px 14px;
  background-position: center;
  margin: 0;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .questionnaire__input[type="checkbox"]:checked + .questionnaire__control-checkbox {
    background-size: 24px 18px;
  }
}

.questionnaire__checkbox-label {
  display: block;
  padding-top: 6px;
  padding-bottom: 6px;
}

@media (min-width: $tablet-width) {
  .questionnaire__checkbox-label {
    padding-top: 9px;
    padding-bottom: 9px;
  }
}

//button
.questionnaire__required-action {
  display: flex;
  flex-direction: column;
  padding: 30px 20px 32px;
}

@media (min-width: $tablet-width) {
  .questionnaire__required-action {
    width: 628px;
    flex-direction: row;
    padding-top: 52px;
    padding-left: 70px;
    padding-bottom: 60px;
    justify-content: flex-start;
  }
}

@media (min-width: $desktop-width) {
  .questionnaire__required-action {
    width: 1220px;
    margin: 0 auto;
    padding: 60px 0 79px;
  }
}

.questionnaire__button {
  padding: 10px;
}

@media (min-width: $tablet-width) {
  .questionnaire__button {
    width: 284px;
    font-size: 20px;
    line-height: 26px;
    padding-top: 14px;
    padding-bottom: 14px;
    margin-right: 60px;
  }
}

@media (min-width: $desktop-width) {
  .questionnaire__button {
    width: 570px;
    margin-right: 80px;
  }
}

.questionnaire__required {
  padding: 21px 10px 0;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .questionnaire__required {
    font-size: 16px;
    line-height: 16px;
    margin: 0;
    padding-top: 17px;
    padding-left: 0;
  }
}
