.section-title-comment {
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
  padding: 24px 0 39px;
  box-sizing: border-box;
}

@media (min-width: $tablet-width) {
  .section-title-comment {
    max-width: 708px;
    padding: 66px 0 76px;
  }
}

@media (min-width: $desktop-width) {
  .section-title-comment {
    max-width: 1290px;
    padding-top: 71px;
    padding-bottom: 73px;
  }
}

.section-title-comment__text {
  position: relative;
  font-family: $content-font;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: $standard-color-text;
  margin: 0;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .section-title-comment__text {
    font-size: 36px;
    line-height: 36px;
  }
}

.section-title-comment__text::after {
  position: absolute;
  content: "";
  width: 100vw;
  height: 2px;
  left: calc(50% - 50vw);
  top: 14px;
  z-index: 0;
  background-color: $brand-color;
}

@media (min-width: $tablet-width) {
  .section-title-comment__text::after {
    top: 22px;
  }
}

.section-title-comment__text span {
  position: relative;
  padding: 0 20px;
  z-index: 10;
  display: inline-block;
  background-color: $second-color-text;
}

@media (min-width: $tablet-width) {
  .section-title-comment__text span {
    padding: 0 40px;
  }
}

@media (min-width: $desktop-width) {
  .section-title-comment__text span {
    padding: 0 35px;
  }
}
