.section-title__wrapper,
.section-title__wrapper-contact,
.section-title__wrapper-additionally {
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
  padding: 25px 0 36px;
  box-sizing: border-box;
}

@media (min-width: $tablet-width) {
  .section-title__wrapper {
    max-width: 708px;
    padding: 70px 0 80px;
  }
}

@media (min-width: $desktop-width) {
  .section-title__wrapper {
    max-width: 1290px;
    padding-top: 76px;
  }
}

@media (min-width: $tablet-width) {
  .section-title__wrapper-contact {
    max-width: 708px;
    padding: 65px 0 74px;
  }
}

@media (min-width: $desktop-width) {
  .section-title__wrapper-contact {
    max-width: 1290px;
    padding-top: 70px;
  }
}

@media (min-width: $tablet-width) {
  .section-title__wrapper-additionally {
    max-width: 708px;
    padding: 65px 0 56px;
  }
}

@media (min-width: $desktop-width) {
  .section-title__wrapper-additionally {
    max-width: 1290px;
    padding-top: 70px;
  }
}

.section-title__text {
  position: relative;
  font-family: $content-font;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: $standard-color-text;
  margin: 0;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .section-title__text {
    font-size: 36px;
    line-height: 36px;
  }
}

.section-title__text::after {
  position: absolute;
  content: "";
  width: 100vw;
  height: 2px;
  left: calc(50% - 50vw);
  top: 14px;
  z-index: 0;
  background-color: $brand-color;
}

@media (min-width: $tablet-width) {
  .section-title__text::after {
    top: 20px;
  }
}

.section-title__text span {
  position: relative;
  padding: 0 20px;
  z-index: 10;
  display: inline-block;
  background-color: $second-color-text;
}

@media (min-width: $tablet-width) {
  .section-title__text span {
    padding: 0 40px;
  }
}

@media (min-width: $tablet-width) {
  .section-title__wrapper-contact br {
    display: none;
  }
}
