.slider {
  position: relative;
  display: flex;
  align-items: center;
  width: 280px;
  padding-bottom: 36px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .slider {
    width: 560px;
    padding-bottom: 101px;
  }
}

@media (min-width: $desktop-width) {
  .slider {
    margin: 0;
    padding-top: 21px;
    padding-bottom: 20px;
  }
}

.slider__image--before {
  display: flex;
  justify-content: flex-start;
  width: 140px;
  overflow: hidden;
}

@media (min-width: $tablet-width) {
  .slider__image--before,
  .slider__image--after {
    width: 280px;
  }
}

.slider__image--after {
  display: flex;
  justify-content: flex-end;
  width: 140px;
  overflow: hidden;
}

@media (min-width: $tablet-width) {
  .slider__image--after {
    width: 280px;
  }
}

.slider__toggle {
  position: absolute;
  right: 40%;
}

.slider__button {
  position: relative;
  width: 57px;
  height: 256px;
  transition: 0.2s ease-in-out;
  color: $icon_color;
  background-color: transparent;
  border: none;
  padding: 0;
  z-index: 1;
}

@media (min-width: $tablet-width) {
  .slider__button {
    width: 110px;
    height: 512px;
  }
}

.slider__button::before {
  content: "";
  position: absolute;
  display: block;
  width: 4px;
  height: 100%;
  border-radius: 2px;
  background-color: $icon_color;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.slider__button:hover::before {
  background-color: $brand-color;
}

.slider__button:active::before {
  background-color: $slider-button-active;
}

.slider__button:hover svg {
  color: $brand-color;
}

.slider__button:active svg {
  color: $slider-button-active;
}
